.DS_Store
/build/
.idea
/build.properties
/out
/WEB-INF/classes/AntwebResources.properties
/WEB-INF/classes/log4j.properties
/WEB-INF/classes/platform.properties
/api/v3.1/venv
antweb.iml

**/__pycache__
/.env

# This is for devs who clone web/ to their local machines
/data

docker-compose.override.yml
/logs/

antweb.iml
