{
    order rate_limit before basicauth

    default_sni www.antweb.org      # Sets a default TLS ServerName for when clients do not use SNI in their ClientHello
        servers {
                timeouts {
                        read_body 45m
			read_header 45m
			write       45m
			idle	45m
                }
        }
}


antweb.org {
    redir https://www.antweb.org{uri}
}

api.antweb.org {
    redir https://www.antweb.org{uri} permanent
}


www.antweb.org {
    import Caddyfile.common 
#    rate_limit {
#        zone my_zone {
#            key {remote_host}
#            window 1m     # Time window for rate limit
#            events 100  # Maximum allowed requests in the time window
#        }
#    }


    log {
        output file /var/log/caddy/access.log {
            roll_size 100MiB     # Rotate after log file exceeds 100 MiB
            roll_keep 10          # Keep only the most recent 1 log file
            roll_keep_days 1     # Keep log files for 1 day
        format json {
           remote_ip "{http.request.remote.host}"
           method "{http.request.method}"
           uri "{http.request.uri}"
           user_agent "{http.request.header.User-Agent}"
           status "{http.response.status_code}"
           protocol "{http.request.proto}"
           host "{http.request.host}"
           referer "{http.request.header.Referer}"
         }
    }
}


