{
    default_sni www.antweb.org      # Sets a default TLS ServerName for when clients do not use SNI in their ClientHello
}

antweb.org {
    redir https://www.antweb.org{uri}
}

api.antweb.org {
    redir https://www.antweb.org{uri} permanent
}

www.antweb.org {
    import Caddyfile.common
}
