<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="antweb">
    <Appenders>
        <RollingFile name="ant_err" fileName="${sys:catalina.home}/logs/antweb.log"
                     filePattern="${sys:catalina.home}/logs/antweb.log.%i">
            <PatternLayout pattern="%d{DEFAULT} %p %t %c{1}.%M():%L - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
            <ThresholdFilter level="warn"/>
        </RollingFile>


        <RollingFile name="ant" fileName="${sys:catalina.home}/logs/antwebInfo.log"
                     filePattern="${sys:catalina.home}/logs/antwebInfo.log.%i">

            <PatternLayout pattern="%d{DEFAULT} %p %t %c{1}.%M():%L - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
            <ThresholdFilter level="${sys:logging.level:-info}"/>
        </RollingFile>

        <!-- Google earth appender -->
        <RollingFile name="googleEarth" fileName="${sys:catalina.home}/logs/detail/googleEarth.log"
                     filePattern="${sys:catalina.home}/logs/detail/googleEarth.log.%i">
            <PatternLayout pattern="%d{DEFAULT} %p %t %c - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="1"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <!-- search log appender -->
        <RollingFile name="search" fileName="${sys:catalina.home}/logs/detail/search.log"
                     filePattern="${sys:catalina.home}/logs/detail/search.log.%i">
            <PatternLayout pattern="%d{DEFAULT} %p %t %c - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="1"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <!-- antwebEvent log appender -->
        <RollingFile name="antwebEvent" fileName="${sys:catalina.home}/logs/detail/antwebEvent.log"
                     filePattern="${sys:catalina.home}/logs/detail/antwebEvent.log.%i">
            <PatternLayout pattern="%d{DEFAULT} %p %t %c - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="1"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <!-- upload log appender -->
        <RollingFile name="upload" fileName="${sys:catalina.home}/logs/detail/upload.log"
                     filePattern="${sys:catalina.home}/logs/detail/upload.log.%i">
            <PatternLayout pattern="%d{DEFAULT} %p %c{1}.%M() - %m%n"/>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy max="1"/>
            <ThresholdFilter level="info"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <!--Send info-level messages from all packages -->
        <Root level="info" additivity="false">
            <AppenderRef ref="ant_err"/>
            <AppenderRef ref="ant"/>
        </Root>

        <!--Send debug messages to antwebInfo.log
            Setting additivity to false means that the debug-level messages from this logger don't get forwarded to
            the root logger, but the root logger has its own AppenderRef for antwebInfo.log at the info level.
            As a result, the only debug-level messages included in antwebInfo are from the antweb package. All other
            packages log at info level.-->
        <!--        -->
        <Logger name="org.calacademy.antweb" level="debug" additivity="false">
            <AppenderRef ref="ant_err"/>
            <AppenderRef ref="ant"/>
        </Logger>

        <Logger name="googleEarthLog" level="info">
            <AppenderRef ref="googleEarth"/>
        </Logger>

        <Logger name="searchLog" level="info">
            <AppenderRef ref="search"/>
        </Logger>

        <Logger name="antwebEventLog" level="info">
            <AppenderRef ref="antwebEvent"/>
        </Logger>

        <!-- Write uploadLog entries to upload appender only-->
        <Logger name="uploadLog" level="info">
            <AppenderRef ref="upload"/>
        </Logger>

        <!-- Logs generated by the upload module get sent to the upload appender for INFO and higher, ant-err for WARN and higher-->
        <Logger name="org.calacademy.antweb.upload" level="info">
            <AppenderRef ref="upload"/>
        </Logger>

        <!-- Show jars scanned without TLDs -->
        <Logger name="org.apache.jasper.compiler.TldLocationsCache" level="debug">
            <AppenderRef ref="ant"/>
        </Logger>

        <!-- warn about property message resources -->
        <Logger name="org.apache.struts.util.PropertyMessageResources" level="warn">
            <AppenderRef ref="ant"/>
        </Logger>

    </Loggers>
</Configuration>