/* style for basic layout 
body {
    font-size:12px;
}
*/

html,body
{
    font-size:12px;

/*    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    overflow-x: scroll; // auto; //hidden; // This resolves a UI bug on iPhones and iPads. No whitespace.
        width: 150px;
    border: 1px solid grey;    

    overflow-y: hidden;

*/
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

h1 {
    font-size:21px;
    font-weight:bold;
    color:#253035;
}

h2 {
    font-size:18px;
    font-weight:bold;
}

a {
  cursor: pointer;
}

.headerBase  {
    position:relative; // was relative
    width:1000px; // 1000px;
    padding:0;
    color:#fff;
    font-size:12px;
    font-weight: bold;
    //margin: 0 auto; 
    //overflow-y: auto;
}

.header  {
    position:relative; // was relative
    width:1000px;
    padding:0;
    color:#fff;
    font-size:12px;
    font-weight: bold;
    //margin: 0 auto; 
    //overflow-y: auto;
}

.header a, .header a:hover {
    color:#fff;
    margin-bottom: 2px;
}

.header a:hover {
    border-bottom: 1px dotted #fff;
}

#version {
    float:left;
    margin-top:24px;
}

.version {
  font-family:'Helvetica', 'Arial', sans-serif;
  font-size:.9em;
  color:white;
}

#site_links {
    padding-left:28px;
    float: left;
}

#site_links ul li {
    margin-top:24px;
    border-right: 1px solid #fff;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}

#site_links ul li:last-child {
    border: medium none;
    padding-left: 14px;
    padding-right: 0;
}

.curator_login {
    cursor:pointer;
    font-size:10px;
}

#login_small {
    font-size:10px;
}

#login_form {
    background-color: #a3a3a3;
    border: 1px solid #B3B3B3;
    height: 30px; /* was 25 */
    right: 250px; /* was 80. could be 405 */
    padding: 3px 5px 5px 5px;
    position: absolute;
    top: -4px;
    width: 495px;
    text-align:left;
    z-index: 102;
}

.login_input {
    border: 1px solid #B9B9B9;
    font-family: inherit;
    padding: 2px;
    position: relative;
    top: -1px;
    width: 140px;
    z-index: 102;
}

.login_input2 {
    border: 1px solid #B9B9B9;
    font-family: inherit;
    padding: 3px 5px 5px 5px;
    position: absolute;
    top: -1px;
    width: 140px;
    z-index: 102;
}

.login_submit {
    background-color: #A3A3A3;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: bold;
    position: relative;
    top: -1px;
    z-index: 102;
}

.browse {
    padding-top:7px;
}
.browse {
    float:left;
}

#browseby ul li {
    float:left;
    font-weight:bold;
}

.search {
    float:right;
    padding-top:5px;
    text-align:right;
}

.placeSearch {
    float:right;
    padding-top:5px;
    text-align:right;
}

.searchBoxes1 {
    float:right;
    text-align:right;
}

.searchBoxes2 {
    float:left;
    text-align:right;
}

.searchBoxes3 {
    float:left;
    padding-top:5px;    
    text-align:right;
}

.highlight, .highlight a, .highlight a:hover {
    color:#3f3f3f;
}

#subnavigation, #mobilenavigation, #global, #regions, #georegions, #bioregions, #projects, #museums {
    display:none;
    font-weight:normal;
}
#subnavigation {
    font-weight:normal;
    padding-top:6px;
    padding-bottom:20px;
    z-index:100;
    border-top:1px dotted #b9b9b9;
}

#mobilenavigation {
    font-weight:normal;
    padding-top:6px;
    padding-bottom:20px;
    z-index:100;
    border-top:1px dotted #b9b9b9;
}

.subnav ul li {
    line-height:1.7;
}


// From Josh Dec 2015
/*
Menus
*/
//.more {
//    font-size: 9px;
//    font-style: italic;
//    color: #ccc !important;
//}

.more:hover {
    color: #666 !important;
}



/*
Currently on live we show:
  Global, Georegions, Bioregions, Museums, Projects

*/


#global {
    margin-left:20px; // was 70
}

#georegions {
    margin-left:93px;  // was 146px
}

#bioregions {
    margin-left:193px;   // was 246px
}

#projects {
    margin-left:293px;   // was 346px;  // Will be 430? // was 330  // Was 228
}

#museums {
    margin-left:377px;   // was 430px;
}

.region_list {
    overflow:auto;
}

.region_list li {
    width:800px;
    padding-bottom:6px;
    margin-bottom:6px;
    border-bottom:1px solid #fff;
}

.show_items > a {
  position:relative;
  cursor:pointer;
  margin-right:12px;
  // margin-left:12px;
  padding-right:12px;
  background: url("../image/browse_options.png") no-repeat scroll center right transparent;
}
// From *Josh Dec 2015 background above commented out.


// From *Josh Dec 2015
//.show_items > a:hover,
//.has_items:hover, 
//.country_list > li > a:hover {
//    color: black !important;
//}


.region_list li ul li {
    padding:0;
    margin:0;
    border:0;
}

.region_list ul {
    display:none;
}

.region_items {
    overflow:auto;
}

.region_items li {
    font-weight:normal;
    float:left;
    width:160px;
    padding-bottom:20x;
}

#regions.subnav ul.region_list li.show_items.highlight ul.region_items li a {
    color:#fff;
}


/* georegion, subregion, country and adm1 added by Mark Aug 22, 2015 */


/* ACCORDION */
#accordion ul{
  display: none;
}

#accordion ul {
  padding-left: 15px;
}

.has_items {
  position:relative;
  // margin-left:10px;
  // font-weight:bold;
  // z-index:20;
  // cursor:pointer;
  margin-right:12px;
  // margin-left:12px;
  padding-right:12px;
  background: url("../image/browse_options.png") no-repeat scroll center right transparent;
  
}
// From *Josh Dec 2015 above background commented out


/* bioregion added by Mark Sep 2, 2015 */

.bioregion_list {
    overflow:auto;
}

.bioregion_list li {
    width:800px;
    padding-bottom:6px;
    margin-bottom:6px;
    border-bottom:1px solid #fff;
}

.bioregion_list li ul li {
    padding:0;
    margin:0;
    border:0;
}

.bioregion_list ul {
    display:none;
}

#bioregions.subnav li a {
    color:#fff;
}

#bioregions {
//    margin-left:415px;    // Mark. Mar 30, 2016.
}

#bioregions.subnav ul.subregion_list li.show_items.highlight ul.country_list ul.country_items ul.adm1_list ul.adm1_items li a {
    color:#fff;
}

.container {
    width:976px;
    background-color:#fff;
}

.container.home {
    width:1000px;
    color:#fff;
    padding:0;
    background-position: 50% 0;
}

#about {
    position:relative;
    background-color:#fff;
    z-index:50;
    width:976px;
}

#about.fixed {
    position:fixed;
    top:0;
    border-bottom:1px solid #b9b9b9;
}

#page_context {
    position:relative;
    background-color:#fff;
    z-index:50;
    width:976px; 
}

#page_context.fixed {
    position:fixed;
    top:0;
    border-bottom:1px solid #b9b9b9;
    padding-top:12px;
}

#view {
    color:#253035;
    font-weight:bold;
    font-size:12px;
    margin-bottom:12px;
    width:100%;
}

#share {
    height:25px;
    margin-bottom:12px;
}

#current_view, #change_view {
    float:left;
}

#cite {
    cursor:pointer;
    position:relative;
    text-align:right;
    float:right;
    font-size:12px;
    color:#3E3E3E;
    font-weight:bold;
    padding-left:16px;
    background: url("../image/cite_page.png") no-repeat scroll left -1px transparent;
}

#citation_overlay {
    display:none;
    width:976px;
    position:absolute;
    z-index:50;
}

#citation_info_overlay {
    font-weight:normal;
    border:6px solid #253035;
    background-color:#fff;
    width:900px;
    margin:auto;
    padding:12px;
}

#close_citation_overlay {
    cursor:pointer;
    font-weight:bold;
}

#for_web, #for_print, #extra_copyright, #imaged_taxa_count {
    display:none;
}

.has_options {
    position:relative;
    margin-left:10px;
    font-weight:normal;
    z-index:20;
    cursor:pointer;
    padding-right:10px;
    background: url("../image/options.png") no-repeat scroll top right transparent;
}

.has_status_options {
    position:relative;
    margin-left:10px;
    font-weight:normal;
    z-index:20;
    cursor:pointer;
    padding-right:10px;
    background: url("../image/options.png") no-repeat scroll top right transparent;
}

.browse_options {
    position:relative;
    margin-left:10px;
    font-weight:bold;
    z-index:20;
    cursor:pointer;
    margin-right:12px;
    margin-left:12px;
    padding-right:12px;
    background: url("../image/browse_options.png") no-repeat scroll center right transparent;
}

.browse_options_green {
    position:relative;
    margin-left:10px;
    font-weight:bold;
    border:1px solid lime;
    background-color:#fff;
    z-index:20;
    cursor:pointer;
    margin-right:12px;
    margin-left:12px;
    padding-right:12px;
    background: url("../image/browse_options.png") no-repeat scroll center right transparent;
}
.options {
    display:none;
    position:absolute;
    left:-5px;
    padding:5px;
    border:1px solid #a3a3a3;
    background-color:#fff;
    font-weight:normal;
    z-index:20;
    line-height:1.4;
    margin-top:3px;
}

#thumb_choices.options {
    left:0;
}

#thumb_choices ul, #status_choice ul, #caste_choice ul {
    text-align:left;
}

#thumb_choices ul li, #status_choice ul li, #caste_choice ul li {
    cursor:pointer;
}

#view_choices.options {
    width:190px;  // was 128
}
#status_choice.options {
    left: 0;
    width:150px;
}
#caste_choice.options {
    left: 0;
    width:120px;
}

#page_contents {
    margin-bottom:6px;
}

#page_contents h1 {
    float:left;
    padding-right:14px;
}

#page_contents .links {
    float:left;
    font-size:14px;
    font-weight:bold;
    line-height:1.0;
    padding-top:6px;
}

#page_contents .links ul li {
    float:left;
    padding-left:6px;
    padding-right:6px;
    border-right:2px solid #253035;
}

#page_contents .links ul li:last-child {
    border:0;
}

#page_data {
    position:relative;
}

#page_data.home {
    z-index:5;
}

#antcat_view {
    float:right;
    text-align:right;
    font-weight:bold;
    padding-top:6px;
}

#default_specimen_view {
    float:right;
    text-align:right;
    font-weight:bold;
    padding-top:6px;
}

#classification {
    color:#253035;
    font-weight:bold;
    font-size:12px;
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom:1px solid #a3a3a3;
}

#classification ul {
    float:left;
}

#classification ul li {
    float:left;
    font-weight:normal;
    padding-left:6px;
    padding-right:6px;
}

#totals_and_tools_container {
    position:relative;
    margin-bottom:6px;
}

#totals_and_tools {
    font-weight:bold;
}

#totals_and_tools h2 {
    float:left;
    padding-right:20px;
}

#download_data, #download_data_search_results {
    cursor:pointer;
}

#download_data:hover, #download_data_search_results:hover {
    border-bottom:1px dotted #556b83;
}

#download_data_overlay {
    width:976px;
    position:absolute;
    z-index:50;
    top:-25px;
}

#download_overlay {
    font-weight:normal;
    border:6px solid #253035;
    background-color:#fff;
    width:400px;
    margin:auto;
    padding:12px;
}

#close_download_data {
    cursor:pointer;
    font-weight:bold;
}

#download_search_results, #tab_data {
   border:0;
   height:25px;
   margin:0;
   padding:0;
}

#tools {
    margin-top:6px;
}

.tool_label {
    float:left;
    font-size:12px;
    border:1px solid #b9b9b9;
    padding: 3px 10px 3px 10px;
    margin-right:10px;
}

.tool_label a {
    color:#253035;
}

.tool_label_selected {
    background-color:#9f9f9f;
}

.tool_label_selected a {
    color:#fff;
}

#project_fg {
    cursor:pointer;
}

.proj_options {
    position:relative;
    font-weight:bold; //z-index:20;
    color:#556B83;
    cursor:pointer;
    //padding-right:10px;
    //background: url("../image/options.png") no-repeat scroll top right transparent;
}

.proj_taxon ul li {
    border-right:0 !important;
    float:none !important;
    line-height:1.5em;
}

#pfg_choices, .proj_taxon {
    position:absolute;
    z-index:40;
    display:none;
    font-size:12px;
    border:1px solid #b9b9b9;
    padding: 3px 10px 3px 10px;
    background-color:#fff;
    left:-3px;
    margin-top:3px;
    line-height:1.5em;
}

#pfg_choices {
    top:19px;
    left:0;
}

.proj_taxon {
    width:100px;
}

#compare_tools, #map_tools, #fieldguide_tools {
    margin-top:6px;
    font-weight:normal
}


#compare_tools_border {
    font-weight:normal
    margin-top:6px;
    border-left:1px solid #b9b9b9;
    background-color:#fff;    
}

input[type="checkbox"] {
    margin:0;
    border:1px solid #929292;
}
.submit {
    font-size:12px;
    border:1px solid #b9b9b9;
    background-color:#9f9f9f;
    color:#fff;
    font-weight:bold;
    font-family:inherit;
    padding: 3px 10px 3px 10px;
    margin-right:10px;
    margin-left:10px;
    margin-right:15px;
    text-align:center;
}
.tool_select_toggle, .tool_text {
    float:left;
}
.tool_select_toggle {
    border:1px solid #b9b9b9;
    width:21px;
    padding:1px 2px 2px;
    background: #9f9f9f url("../image/options.png") no-repeat scroll 17px 2px;
    margin-right:5px;
    margin-top:2px;
}

#sub_taxon {
    float:left;
    padding-top:4px;
    font-weight:bold;
}

#sub_taxon ul {
    float:left;
}

#sub_taxon li {
    float:left;
    padding-right:20px;
}

#thumb_toggle {
    min-width:20px;  
    text-align:left;
    float:right;
}

#status_toggle {
    text-align:left;
    padding-left:20px;
    float:right;
}

#change_thumbs {
    float:right;
    margin-left:3px;;
    font-weight:bold;
}
#change_thumbs .has_options {
}
#change_thumbs #thumb_choices {
    width:37px !important;
}

#change_status {
    float:right;
    margin-left:3px;;
    font-weight:bold;
}
#change_status .has_status_options {
}
#change_status #status_choices {
    width:37px !important;
}

#change_caste {
    float:right;
    margin-left:3px;;
    font-weight:bold;
}
#change_caste .has_options {
}
#change_caste #caste_choices {
    width:97px !important;
}

#browse_hint {
    display:none;
    background: url("../image/ftue_arrow.png") no-repeat scroll 30px 0 transparent;
    padding-top:7px;
    position: absolute;
    top: 20px;
    width: 976px;
    z-index: 50;
}

#browse_hint_text {
    width:500px;
    background-color: #0b3e64;
    padding:8px;
    margin-left:19px;
    color:#fff;
    font-weight:bold;
    border-radius:5px;
}

#close_browse_hint {
    float:right;
    cursor:pointer;
    font-weight:bold;
    padding-right:4px;
}

#ftue_container {
    display:none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}

.ftue_screen {
    background-color: #000000;
    color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.disable {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

#ftue_overlay {
    background: url("https://www.antweb.org/images/casent0280768/casent0280768_p_1_thumbview.jpg") no-repeat scroll 0 0 transparent;
    border:2px solid #fff;
    background-color:#000;
    width:450px;
    margin:auto;
    position:relative;
    top:100px;
    z-index:30;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transition-duration: 500ms;
    -moz-transition-property: width, height;
    background-position: 50% 25%;
}

.ftue_contents {
    font-size:14px;
    color:#fff;
    font-weight:normal;
    padding:12px;
    z-index:25;
    position:relative;
    line-height:1.25em;
}
.ftue_gradient {
    height:252px;
    width:450px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.50)), color-stop(96%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    position:absolute; 
    z-index:4; 
}

#ftue_overlay h1 {
    color:#fff;
}

#show_me {
    font-size:14px;
    cursor:pointer;
}

#show_me a, {
    color:fff !important;
}

#no_thanks {
    color:#fff;
    cursor:pointer;
}

.login_name {
    text-transform: capitalize;
}

/* style for advanced search layout */
.adv_left_col {
    float: left;
    margin-top: 3px;
    text-align: left;
    width: 250px;
}

.adv_mid_col {
    float: left;
    margin-top: 3px;
    text-align: left;
    width: 188px;
}

.adv_right_col {
    float: left;
    margin-top: 3px;
    text-align: left;
    width: 188px;
}

.adv_span_col {
    float: left;
    margin-top: 3px;
    text-align: left;
    width: 376px;
}

.input_150 {
    background: none repeat scroll 0 0 white;
    border: 1px solid #888582;
    color: #888582;
    font-size: 10.5px;
    width: 150px;
}

/* style for map comparison and field guide layout */
.page_spacer {
    padding-bottom:12px;
    width:100%;
}

.fg_data_summary {
    border-bottom:1px solid #a3a3a3;
}

/* style for rescent images layout */
.adv_search_header { text-transform: uppercase; font-size: 8px; padding-left:5px; }
 .adv_search_header.sorted { background-color: #969491; }
 .adv_search_header a { color: #707B7D; }
 .adv_search_header.sorted a { color: #fff; }
 .adv_search_header.sorted.code, .adv_search_header.code { float: left; width:140px; margin-right: 5px; }
 .adv_search_header.sorted.name, .adv_search_header.name { float: left; width:200px; margin-right: 5px; }
 .adv_search_header.sorted.image, .adv_search_header.image { float: left; width:60px; margin-right: 5px; }
 .adv_search_header.sorted.locality, .adv_search_header.locality { float: left; width:220px; margin-right: 5px; }
 .adv_search_header.sorted.type, .adv_search_header.type { float: left; width:100px; margin-right: 5px; }
 .adv_search_header.sorted.caste, .adv_search_header.caste { float: left; width:100px; margin-right: 5px; }
 .adv_search_header.sorted.recent_image, .adv_search_header.recent_image { float:left; width:140px; margin-right: 5px; }
 .adv_search_header.sorted.shot, .adv_search_header.shot { float:left; width:20px; margin-right: 5px; }
 .adv_search_header.sorted.number, .adv_search_header.number { float:left; width:40px; margin-right: 5px; }
 .adv_search_header.sorted.author, .adv_search_header.author { float:left; width:140px; margin-right: 5px; }
 .adv_search_header.sorted.institution, .adv_search_header.institution { float:left; width:200px; margin-right: 5px; }
 .adv_search_header.sorted.upload_date, .adv_search_header.upload_date { float:left; width:100px; margin-right: 5px; }
 .adv_search_checkbox { float: left; width:20px; margin-right: 10px; }
 .adv_search_code { float: left; width: 140px; margin-right: 5px; padding-left:5px; }
 .adv_search_name { float: left; width: 200px; margin-right: 5px; padding-left:5px; }
 .adv_search_image { float: left; width: 60px; margin-right: 5px; padding-left:5px; }
 .adv_search_locality { float: left; width: 220px; margin-right: 5px; padding-left:5px; }
 .adv_search_type { float: left; width: 100px; margin-right: 5px; padding-left:5px; }
 .adv_search_caste { float: left; width: 100px; margin-right: 5px; padding-left:5px; }
 .adv_search_recent_image { float: left; width: 140px; margin-right: 5px; padding-left:5px; }
 .adv_search_shot { float: left; width: 20px; text-align: center; text-transform: uppercase; margin-right: 5px; padding-left:5px; }
 .adv_search_number { float: left; width: 40px; margin-right: 5px; text-align: center; padding-left:5px; }
 .adv_search_author { float: left; width: 140px; margin-right: 5px; padding-left:5px; }
 .adv_search_institution { float: left; width: 200px; margin-right: 5px; padding-left:5px; }
.paging_display { text-align:center; margin-top:10px; }
 .paging_display a { padding-left:3px; padding-right:3px; text-decoration:none; font-weight:normal; }
 .paging_display a:hover { padding-left:3px; padding-right:3px; background: #A3A3A3; color:#fff; text-decoration:none; font-weight:normal; }
 .not_on_page { background: #fff; color: #A3A3A3; border: 1px solid #A3A3A3; margin: 1px; }
 .on_page { padding:3px; font-weight:bold; background: #253035; color:#fff; border: 1px solid #b9b9b9; margin:1px; }

/* style for locality and collection layout */
.page_divider {
    border-bottom:1px solid #a3a3a3;
    margin-bottom:12px;
    padding-bottom:12px;
    width:100%;
}

.page_divider.taxonomic {
    padding-bottom:6px;
}

.page_divider.project {
    margin-bottom:6px;
    padding-bottom:0;
}

 .col_header { text-transform: uppercase; font-size: 8px; }
 .browse_col_one { position: relative; width: 175px; float: left; text-align: left; margin-top: 3px; }
 .browse_col_two { position: relative; margin-left: 10px; width: 200px; float: left; text-align: left; margin-top: 3px; }
 .browse_col_three { position: relative; margin-left: 10px; width: 256px; float: left; text-align: left; margin-top: 3px; }
 .browse_col_three { position: relative; margin-left: 10px; width: 320px; float: left; text-align: left; margin-top: 3px; }
 .browse_col_three { position: relative; margin-left: 10px; width: 360px; float: left; text-align: left; margin-top: 3px; }
 .browse_span_col { position: relative; width: 526px; float: left; text-align: left; margin-top: 3px; }

/* style for homepage layout */
.home_gradient {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.50)), color-stop(96%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 96%,rgba(0,0,0,0.35) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 96%,rgba(0,0,0,0.35) 100%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    position:relative; 
    z-index:4; 
}

.home a, .home a:hover {
    color:#fff;
}

.home a:hover {
    color:#fff;
    border-bottom:1px dotted #fff;
}

#home_upper {
    padding:12px;
    background:transparent;
    border-bottom:1px solid #bebab3;
}

#home_lower {
    position:relative;
    background:transparent;
}

.lower_home_gradient {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0.50) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.50)), color-stop(96%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0.50)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 96%,rgba(0,0,0,0.50) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 96%,rgba(0,0,0,0.35) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 96%,rgba(0,0,0,0.35) 100%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    position:relative; 
    z-index:4; 
}

#stats {
    float:left;
    margin-top:48px;
    width:190px;
    padding-right:24px;
    line-height:1.25;
}

#mission {
    float:left;
    margin-top:12px;
    padding-right:24px;
    width:480px;
    font-size:18px;
    font-weight:bold;
    line-height:1.2;
}

#recent_activity {
    float:right;
    margin-top:42px;
    width:250px;
    line-height:1.25;
}

#background_attr {
    margin-top:12px;
    float:right;
    text-align:right;
}

#slideshow {
    width:100%;
    margin:auto;
    text-align:center;
    height:117px;
    margin-top:24px;
    margin-bottom:12px;
}
.slideshow_wrap {
    width:873px;
    text-align:center;
    margin-left:5%
}

#slideshow a.left {
    margin-left:0;
}

#slideshow a.right {
    clear:right;
    margin-right:0;
}

#slideshow a.browse {
    cursor:pointer;
    display:block;
    font-size: 44px;
    font-weight: bold;
    margin-top: .6em;
    padding:11px;
    z-index:120;
    border:0;
}

.scrollable {
    float:left;
    height:123px;
    width:880px;
    overflow: hidden;
    position: relative; 
}
.scrollable .items {
    clear: both;
    position: absolute;
    width: 20000em;
}

.items div.things {
    float: left;
    width: 880px;
}


.slides-next, .slides-prev {
    margin-top: -1em;
    padding: 0 0.5em;
    position: absolute;
    bottom: 55px;
    z-index: 120;
    font-size:44px;
    font-weight:bold;
}
.slideshow_wrap a:hover {
    border:0;
}

.slides-prev {
    left:0;
}

.slides-next {
    right:0;
}

#contributor_container {
    position:relative;
    padding:20px;
}

#contributors {
    float:left;
    width:49%;
    padding-right:0;
}

.curator_container {
    border-right:1px dotted #fff;
}

.curator {
    float:left;
    width:170px;
    height:45px;
    margin-top:10px;
    padding-left:55px;
}

.curator.phil {
    background: url("../image/phil_ward_sm.jpg") no-repeat scroll 0 0 transparent;
}

.curator.james {
    background: url("../image/james_trager_sm.jpg") no-repeat scroll 0 0 transparent;
}

.curator.lloyd {
    background: url("../image/lloyd_davis_sm.jpg") no-repeat scroll 0 0 transparent;
}

.curator.jack {
    background: url("../image/jack_longino_sm.jpg") no-repeat scroll 0 0 transparent;
}

.curator.brian {
    background: url("../image/brian_fisher_sm.jpg") no-repeat scroll 0 0 transparent;
    margin-bottom:10px;
}

.curator.corrie {
    background: url("../image/corrie_moreau_sm.jpg") no-repeat scroll 0 0 transparent;
    margin-bottom:10px;
}

#get_involved {
    float:left;
    width:45%;
    padding-left:30px;
}

#promo_container {
    position:relative;
    padding:20px;
}

.promo {
    float:left;
    width:277px;
}

.promo.middle {
    margin-left:60px;
    margin-right:60px;
}


/* style for overview layout */
#overview_data {
    float:left;
    width:700px;
    padding-right:35px; 
    line-height:1.45;
}

#overview_data h3 {
    float:none !important;
}

#taxon_history {
}

#taxon_history_more_less {
    display:none;
}

.antcat_taxon p {
    margin:0;
}

h2.display_count {
    float:left;
    padding-right:20px;
}

/* style for list layout */
.specimen_layout {
    background-color:#fff;
    border-bottom:1px solid #929292;
}
.specimen_layout_alt {
    background-color:#e4e4e4;
}
.specimen_layout_hover {
    background-color:#e8e8e8;
}
.specimen_layout a, .specimen_layout a:link, .specimen_layout a:hover {
    font-weight:normal;
}
.sd_name, sx_name, .sd_checkbox, .sd_data, .sd_specimen_code, .sd_specimen_name, .sd_collection_code, .sd_location, .sd_latlong, .sd_elevation, .sd_subdata_items {
    float:left;
}
.sd_checkbox {
    margin-top:2px;
    width:20px;
    height:25px;
}
.sdcb {
    display:none;
    margin-top:1px;
    margin-left:3px;
}
/*
 sd_data could be undefined and no one cares. //900px; // was 893
*/
.sd_data {
    width:1000px; // was: 893
    margin-top:5px;
    padding-bottom:5px;
    font-size:12px;
}
.list_extras {
    float:left;
    font-weight:normal;
    font-size:10px;
    margin-top:3px;
    min-width:72px;  // was 60px;
}
.list_extras_links {
    float:right;
    margin-top:3px;
    font-size:10px;
    text-transform:uppercase;
}
.list_extras_links ul li {
    float:left;
    border-right:1px solid #253035;
    padding-left: 3px;
    padding-right: 3px;
}
.list_extras_links ul li:last-child {
    border:0;
}

.list_extras.statuses {
    text-align:left;
    width:10px;
}

.list_extras.v {
    text-align:left;
    padding-left:5px;    
    width:1px;
}

.list_extras.t {
    text-align:left;
    padding-left:0px;    
    width:1px;
}

.list_extras.ei {
    text-align:left;
    padding-left:0px;    
    width:1px;
}
/*
<!-- // taxon_name not 297 was 297px;// Not 53, 0 if used with pad items.    -->
*/
.list_extras.taxon_name {
    text-align:left;
    padding-left:0px; 
    width:297px;
}

.list_extras.author_date {
    text-align:left;
    width:170px; // 170
}

.list_extras.images {
    width: 80px;
}

.list_extras.specimens {
    width: 90px; // 80    
}

.list_extras.specimensLocal {
    width: 90px; // 80    
}

.was_list_extras.map {
    text-align:left;
    padding-left:3px;   // was 30px;
}

.list_extras.map {
    width:25px;   
}

.was_list_extras.source {
    text-align:left;
    padding-left:0px;
    width: 72px;
    font-size:9px;    
}

.list_extras.source {
    width: 20px; //20 
}

.sx_name {
    padding-right:40px;
    width:300px;
}
.sx_name.pad {
    margin-left:10px;
}
.sx_name a {
    font-weight: !important;
}



.sd_name {
    padding-right:40px;
    width:300px;
}
.sd_name.pad {
    margin-left:10px;
}
.sd_name a {
    font-weight:bold !important;
}
.sd_specimen_code {
    width:135px;
}
.sd_specimen_name {
    width:167px;
}
.sd_name.is_valid, .sd_specimen_name.is_valid {
    padding-left:16px;
    background: url("../image/valid_name.png") no-repeat scroll 0 0 transparent;
}
.sd_collection_code {
    width:145px;
}
.sd_location {
    width:244px;
}
.sd_location .label {
    float:left;
    width:52px;
}
.sd_location .data {
    float:left;
    width:190px;
}
.sd_latlong {
    margin-top:2px;
    width:110px;
    font-size:10px;
}
.sd_elevation {
    margin-top:2px;
    width:80px;
    font-size:10px;
}
.sd_subdata {
    border-top:1px solid #f9f9f9;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    font-size:10px;
}
.sd_subdata_items {
    width:167px;
    padding-right:10px;
}
.sorted_by {
    font-weight:bold;
}
#ie_msg {
    display:none;
}

.small_map {
    position:relative;
    float:left; 
    margin:6px; 
    margin-right:0;
}

.small_map.first {
    position:relative;
    float:left; 
    margin:6px; 
    margin-left:0;
    margin-right:6px;
}

#static_map {
    display:none;
} 

#static_map img {
    max-height:232px; 
}

/* style for overview layout */
.antcat_taxon .name {
float:none;
font-size:inherit;
font-weight:normal;
padding:0;

}
.taxon_page_img {
    width:650px;
}
/* style for thumbnail image layout */
.row { 
}

.slide { 
    cursor:pointer; 
    color:#fff;
    float:left; 
    position:relative;
    border:1px solid #b9b9b9; 
    margin:6px; 
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transition-duration: 500ms;
    -moz-transition-property: width, height;
    background-position: 50% 25%;
}

.first {
    margin-left:0;
}

.last {
    margin-right:0;
}

.name a, .name a:hover {
    color:#fff;
    text-decoration:none !important;
}
.hover {
    cursor:pointer;
    display:none;
/*    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); 
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(96%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); */
    position:absolute; 
    z-index:4; 
}
.darken {
    cursor:pointer;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); 
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(96%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); 
    position:absolute; 
    z-index:4; 
}
.large {
    width:233px;
    height:233px;
}
.medium {
    width:233px;
    height:233px;
}
.small {
    width:117px;
    height:117px;
}
.vsmall {
    width:59px;
    height:59px;
}
.slide.small, .slide.vsmall {
    margin:3px;
    background-position: 0 0;
}
.thirds {
    width:342px;
    height:262px;
}
.half {
    width:480px !important;
    height:360px;
}
.first { 
    margin-left:0; 
}
.last { 
    margin-right:0; 
}

.ratio {
    display:table;
    position:static;
    text-align: center;
}

.adjust {
    position:static;
    vertical-align: middle;
    display: table-cell;
}

.adjust_compare {
    position:static;
    vertical-align: middle;
    display: table-cell;
}

.adjust img {
    cursor:pointer;
    max-height: 225px;
    max-width: 225px;
}

.adjust_compare img {
    cursor:pointer;
    max-height:350px;
    max-width: 470px;
}

.ratio_adjust {
    position:static;
    vertical-align: middle;
    display: table-cell;
}

.ratio_adjust img {
    max-width: 300px !important;
}

.thumbnail {
    z-index:1;
}
.top_gradient { 
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0) 20%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.60)), color-stop(20%,rgba(0,0,0,0))); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 20%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 20%); 
    background: -ms-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 20%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 20%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
    position:absolute; 
    z-index:2; 
}
.top_gradient.medium {
/*    height:83px; */
}
.top_gradient.small {
    height:150px;
}
.name { 
    font-size:18px;
    font-weight:bold;
    padding: 5px 0 5px 5px; 
    width:206px;
    position:relative; 
    float:left;
    text-align:left; 
    z-index:5; 
}
.name.small {
    font-size:11px;
    padding: 5px; 
}

.ratio_name {
    font-size:18px;
    font-weight:bold;
    padding-top:6px;
    float:left;
}

.ratio_has_images {
    display:none;
    float:left;
    font-weight:bold;
    margin-top:9px;
    padding-left:12px;
}

.is_valid {
    float:left;
    height:30px;
    padding-left:16px;
    background: url("../image/valid_name.png") no-repeat scroll 0 2px transparent;
}

.ratio_name .is_valid {
    height:16px;
}

.lower_gradient { 
    border-top:1px solid #b9b9b9; 
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(96%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    position:absolute;
    left:0; 
    bottom:0; 
    z-index:2; 
}

.lower_gradient.medium {
    height:30px;
}

.lower_data {
    position:absolute;
    left:0; 
    bottom:0; 
    z-index:5; 
}
.lower_data.medium {
    font-size:14px;
    font-weight:bold;
    line-height:1.5;
    height:30px;
}
.data_left, .data_right, .data_checkbox { 
    position:relative;
    padding:5px; 
    z-index:5; 
}
.data_left {
    width:223px;
    float:left;
}
.data_left a {
    color:#fff; 
}
.data_left a:hover {
    text-decoration:1px dotted #fff;
}

#data_left2 { position: relative; float: left; width: 335px; }
#data_left3 { position: relative; float: left; width: 300px; }
#data_right { margin-left: 10px; float: right; text-align: left; width: 300px; }
#data_right2 { margin-left: 10px; float: right; text-align: left; width: 335px; }
#data_title, #stats_title ul { list-style: none; padding: 0; margin: 0; float: left; width: 125px; }
#data_items, #data_items ul { list-style: none; padding: 0; margin: 0; float: right; text-align: left; width: 129px; }
#data_title2, #stats_title ul { list-style: none; padding: 0; margin: 0; float: left; width: 125px; }
#data_title3, #stats_title ul { list-style: none; padding: 0; margin: 0; float: left; width: 115px; }
#data_items, #data_items ul { list-style: none; padding: 0; margin: 0; float: right; text-align: left; width: 170px; display:block; }
#data_items2, #data_items2 ul { list-style: none; padding: 0; margin: 0; float: right; text-align: left; width: 170px; display:block; }
#data_items3, #data_items ul { list-style: none; padding: 0; margin: 0; float: right; text-align: left; width: 300px; display:block; }


.data_checkbox {
    text-align:center;
}

.data_right {
    float:right;
    text-align:right;
}
.ratio_icon {
    cursor:pointer;
    float:right;
    z-index:14;
    position:relative;
    padding:5px 5px 5px 0;
}
.ratio_overlay {
    color:#888;
    background-color:#fff;
    border:1px solid #b9b9b9; 
    padding:6px;
    min-width:300px;
    display:none;
    position:relative;
    left:-44px;
    top:0;
    z-index:15;
}
.ratio_overlay.first {
    left:12px;
    top:0;
} 
.ratio_overlay.last {
    top:0;
    left:-91px;
} 
.ratio_overlay .slideshow {
    margin:auto;
    vertical-align:middle;
    text-align:center;
}
.slideshow_nav {
    margin-left:125px;
}
.slideshow_nav a {
    background: url("../image/navigator.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 1px;
    height: 8px;
    margin: 3px;
    width: 8px;
    text-decoration:none;
}
.slideshow_nav a:hover {
    background-position: 0 -8px;
    text-decoration:none;
    border:0;
}
.slideshow_nav a.current {
    background-position: 0 -16px;
    border:0;
}

/* style for specimen overview picture layout */

.spec_name {
    font-size:18px;
}

#overview_data h3 {
    margin-top:12px;
}

#overview_data h3:first-child {
    margin-top:0;
}

#overview_data ul {
    clear:both;
}

#overview_data ul li {
/*    float:left; */
    list-style: disc;
    margin-left:20px;
}

#overview_data.plain ul li {
    float:left;
    list-style:none;
}

#overview_data.plain ul li:first-child {
    width:165px;
}

#overview_data.plain ul li {
    margin-left:0;
}

/* style for big picture layout */

.big_picture {
    max-width:976px;
    margin:auto;
    text-align:center;
    margin-top:12px;
}

.big_picture img {
    max-width:976px;
}

.big_picture ul li {
    float:left;
    padding-right:18px;
}

#photo_metadata {
    width:750px;
}

#photo_metadata ul li {
    float:left;
    padding-right:18px;
}

/* style for map layout */

#map {
    margin-top:12px;
}

.infoWindow {
    min-width:350px;
    min-height:60px;
}

.ue_link {
    cursor:pointer;
    color:#556B83;
}

.ue_content {
    display:none;
}
