.full {
    position:relative;
}
#specimen_list_header_container {
    position:relative;
    border-bottom:1px solid #fff;
}
#specimen_list_header {
    border-bottom:1px solid #929292;
    padding-bottom:5px;
    margin-top:0;
    margin-bottom:1px;
    position:relative;
    top:0;
    background-color:#fff;
    width:913px;
    padding-top:5px;
}
#specimen_list_header.fixed {
    position: fixed;
    top:0;
}
.display_count {
    float:left;
    font-weight:bold;
    padding-right:20px;
}
.specimen_tools {
    float:left;
    margin-top:2px;
}
.tool_label {
    float:left;
    font-size:11px;
    padding:2px 10px;
    margin-right:20px;
    border:1px solid #929292;
}
.tool_label_selected {
    background-color:#e4e4e4;
}
.sort_by {
    float:right;
}
.sort_by .label {
    font-size:11px;
    font-weight:bold;
}
#compare_tools, #map_tools, #fieldguide_tools {
    margin-top:3px;
}
input[type="checkbox"] {
    margin:0;
    border:1px solid #929292;
}
.submit {
    margin-left:15px;
    margin-right:20px;
}
.tool_select_toggle, .tool_text {
    float:left;
    font-size:11px;
}
.tool_select_toggle {
    border:1px solid #929292;
    width:21px;
    padding:1px 2px 2px;
    background: url("select_indicator.png") no-repeat scroll right center;
    margin-right:5px;
    background-color:#e4e4e4;
}
.tool_text {
    font-weight:bold;
}
.tool_text a, .tool_text a:link, .tool_text a:hover {
    text-decoration:none;
    font-weight:normal;
    color:#707B7D;
    font-size:11px;
}
.specimen_layout {
    background-color:#fff;
    border-bottom:1px solid #929292;
}
.specimen_layout_alt {
    background-color:#e4e4e4;
}
.specimen_layout_hover {
    background-color:#e8e8e8;
}
.specimen_layout a, .specimen_layout a:link, .specimen_layout a:hover {
    font-weight:normal;
}
.sd_checkbox, .sd_data, .sd_specimen_code, .sd_specimen_name, .sd_collection_code, .sd_location, .sd_latlong, .sd_elevation, .sd_subdata_items {
    float:left;
}
.sd_checkbox {
    margin-top:2px;
    width:20px;
    height:25px;
}
.sdcb {
    display:none;
    margin-top:1px;
    margin-left:3px;
}
.sd_data {
    width:893px;
    margin-top:5px;
    padding-bottom:5px;
    font-size:12px;
}
.sd_specimen_code {
    width:135px;
}
.sd_specimen_name {
    width:167px;
}
.sd_collection_code {
    width:145px;
}
.sd_location {
    width:250px;
}
.sd_location .label {
    float:left;
    width:52px;
}
.sd_location .data {
    float:left;
    width:190px;
}
.sd_latlong {
    margin-top:2px;
    width:110px;
    font-size:10px;
}
.sd_elevation {
    margin-top:2px;
    width:80px;
    font-size:10px;
}
.sd_subdata {
    border-top:1px solid #eaeaea;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    font-size:10px;
}
.sd_subdata_items {
    width:167px;
    padding-right:10px;
}
.sorted_by {
    font-weight:bold;
}
#ie_msg {
    display:none;
}
